body {
  margin: 0;
}

#pageContent {
  margin-top: 7rem;
}

#navbarHeader {
  display: inline-block;
  text-align: center;
}

#messagesContainer {
  background: lightgrey;
  width: 80%;
  margin: 0 auto;
}

#userLoginHeader {
  text-align: center;
}

.messageCard {
  border-bottom: 2px solid black;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
}

.messageUser {
  font-weight: 900;
}

.messageText,
.messageUser,
.messageTimestamp {
  display: inline-block;
}

.messageDeleteButton {
  margin-top: 7px;
  float: right;
}

.messageCard:nth-child(odd) {
  background: #7BA9D0;
}

img {
  width: 100%;
}

.messageUserImage {
  width: 38px;
  height: 38px;
  display: inline-block;
}

.hidden {
  display: none;
}
