body {
  margin: 0;
}

#pageContent {
  margin-top: 10rem;
}

#navbarHeader {
  display: inline-block;
  text-align: center;
}

#messagesContainer {
  background: lightgrey;
  width: 80%;
  margin: 0 auto;
}