body {
  margin: 0;
}

#pageContent {
  margin-top: 7rem;
}

#navbarHeader {
  display: inline-block;
  text-align: center;
}

#messagesContainer {
  background: lightgrey;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

#userLoginHeader {
  text-align: center;
}

.messageCard {
  border-bottom: 2px solid black;
}

.messageUser {
  font-weight: 900;
}

.messageText,
.messageUser,
.messageTimestamp {
  display: inline-block;
}

.messageDeleteButton {
  float: right;
}